* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    overflow-x: hidden;
}
header {
    height: 15vh;
    border-bottom: 0.5px solid lightgray;
    display: flex;
}
#logo-div {
    width: 250px;
    height: 150px;
}
#logo-div a {
    text-decoration: none;
}
#logo-div img {
    width: 180px;
    height: 80px;
    margin-top: 6px;
    margin-left: 40px;
}
#diconnect-div {
    position: relative;
    top: 0;
    left: 70%;
}
.signOut {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    position: relative;
    top: 24px;
    left: 0;
}
.signOut:hover {
    text-decoration: underline;
}

section {
    height: 160vh;
    width: 35%;
    margin: 10px auto;
}
#text-pay-div {
    margin: 4px;
}
#text-pay-div div h1 {
    font-size: 30px;
}
.img-pay-div img {
    width: 40px;
    height: 20px;
    margin: 4px;
}
#input-container {
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 4px;
}
#input-container input {
    margin-bottom: 8px;
    padding: 12px;
    height: 60px;
    border-radius: 3px;
    border: 0.4px solid black;
    font-size: 16px;
}
#input-container input:focus::placeholder {
    position: relative;
    top: -14px;
    left: -4px;
    font-size: 14px;
    font-weight: 700;
    transition-duration: 80ms;
}
.price-container {
    border: none;
    border-radius: 3px;
    background-color: #e9edf2;
    margin: 0 10px;
    padding: 2px;
    display: flex;
    height: 70px;
}
.main-price-container {
    width: 70%;
    padding: 10px;
    margin: 0 6px;
}
.main-price-container label {
    color: #7f8285;
    padding-top: 4px;
}
.change-btn {
    width: 22%;
}
.change-btn button {
    cursor: pointer;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #3d85e3;
}
.change-btn button:hover {
    text-decoration: underline;
}
.text-container  {
    padding: 10px;
    margin: 4px 0 24px 0;
}
.text-container p {
    font-size: 14px;
    color: #7f8285;
}
.grand-text-container {
    padding: 10px;
    color: #7f8285;
    font-size: 14px;
}
.grand-text-container p a {
    text-decoration: none;
    color: #3d85e3;
}
.grand-text-container p a:hover {
    text-decoration: underline;
}
.check-div {
    padding: 10px;
}
.check-div label {
    color: #7f8285;
    margin: 6px 4px;
    font-size: 18px;
}
.check-div input {
    border: 1px solid #3d85e3;
    border-radius: 0;
    width: 22px;
    height: 22px;
    margin-right: 6px;
}
#sub-btn-div {
    margin: 8px 3px;
    height: 64px;
}
#sub-btn {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 4px;
    background-color: #e33e24;
    color: white;
    cursor: pointer;
}
#sub-btn:hover {
    background-color: #e34930;
    transition-duration: 0.4s;
}
#sub-btn-div a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    font-weight: 500;
}

footer {
    margin-top: 14px;
    background-color: #e3e1e1;
    height: 50vh;
    padding: 6px;
}
#first-tag {
    margin: 8px;
    width:50%;
    position: relative;
    top: 50px;
    left: 20%;
}
#first-tag a {
    text-decoration: none;
    color: gray;
}
#first-tag a:hover {
    text-decoration-line: underline;
}
#tags-container {
    width: 75%;
    height: 40%;
    margin: 10px;
    padding: 8px;
    justify-content: space-between;
    display: flex;
    position: relative;
    top: 20%;
    left: 10%;
}
.tag-container {
    display: flex;
    flex-direction: column;

}
.tag-container a {
    text-decoration: none;
    color: gray;
    margin: 8px 2px;
}
.tag-container a:hover {
    text-decoration-line: underline;
}
#form-container {
    border: 1px solid black;
    background-color: white;
    padding: 4px;
    width: 100px;
    height: 46px;
    position: relative;
    top: 18%;
    left: 11%;
}

#form-container select {
    background: twhite;
    color: gray;
    border: none;
    text-align: center;
    font-size: 18px;
    position: relative;
    top: 10px;
    left: 8px;
}
#form-container select option {
    background-color: black;
    color: gray;
    font-size: 16px;
    padding: 6px;
}
.p-div {
    width: 150px;
    height: 0px;
    position: relative;
    top: 100px;
    left: 134px;
}

@media (max-width:1000px) {
    header {
        width: 100%;
        padding: 0;
    }   
   #diconnect-div {
    position: relative;
    top: 10px;
    left: 27%;
    }
    section {
        width: 80%;
    }
}